.sidebar {
  width: 200px;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  background-color: #fff;
}

.logo-sidebar {
  height: 50px;
  width: 50px;
}

.simulation-settings {
  margin: 50px 0;
}

.simulation-settings-item {
  margin-bottom: 50px;
}

.content {
  margin-left: 250px;
  min-height: 95vh;
}

.simulationInformation {
  margin-left: 250px;
}

.dividerSpace {
  height: 200px;
}

.divider {
  height: 1px;
  background-color: #444444;
  width: 100%;
}

.stationInfo {
  font-size: 18px;
}

.stationSectionInfo {
  padding-top: 50px;
}

.stationEquipmentInfo {
  padding-top: 20px;
}

.mainQueueSectionInfo {
  padding-top: 20px;
}

.homeSectionInfo {
  padding-top: 20px;
}

.no-bullets {
  list-style-type: none;
}
