/* START OF UNIVERSAL ELEMENT STYLING */
p {
  font-size: 0.7em;
}

.floorplan-element {
  background-color: rgb(199, 199, 199);
  height: 60px;
  width: 60px;
  border: 1px solid #000;
}

.section-outside {
  margin-top: -100px;
}

@keyframes moveUpToQueue {
  from { transform: translateY(100vh); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.moving-to-queue {
  animation: moveUpToQueue 3s ease-out forwards;
}

.customer {
  z-index: 2; 
  position: absolute;
}
.customer-waiting-counters {
  z-index: 2;
}
/* END OF UNIVERSAL ELEMENT STYLING */

/* START OF COUNTERS STYLING */
.counters-batch01 {
  margin-left: 10px;
}

.counter-batch01-item {
  margin-top: 5px;
}

.counters-batch02 {
  margin-top: -195px;
  margin-left: -500px;
}

.counter-batch02-item {
  margin-right: 5px;
  display: inline-block;
  position: relative;
}

.counters-batch03 {
  margin-left: 450px;
  margin-top: -65px;
}

.counter-batch03-item {
  margin-top: 5px;
}

.waiting-area {
  width: 320px;
  height: 180px;
  border: 1px solid #000;
  background-color: rgb(158, 158, 158);
  margin-left: 100px;
  margin-top: -180px;
}

.waiting-area-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
/* END OF COUNTERS STYLING */

/* START OF DIVIDERS STYLING */
.divider-branch-inside-and-out {
  margin-left: 520px;
  border: 1px solid #000;
  width: 0;
  height: 400px;
  margin-top: -270px;
}

.divider-branch-inside {
  border: 1px solid #000;
  width: 200px;
  margin-top: -100px;
}

.divider-branch-outside {
  margin-top: 70px;
  float: right;
  border: 1px solid #000;
  width: 330px;
  margin-right: 15px;
}
/* END OF DIVIDERS STYLING */

/* START OF APP BOOTHS STYLING */
.app-booths {
  margin-left: 140px;
  position: absolute;
}

.app-booths-queue {
  position: absolute;
  margin-left: 220px;
  width: 100px;
  height: 180px;
  margin-top: 0px;
}

.app-booths-queue-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
}

.app-booth-item {
  background-color: rgb(199, 199, 199);
  height: 70px;
  width: 60px;
  border: 1px solid #000;
  margin-top: 5px;
}
/* END OF APP BOOTHS STYLING */

/* START OF ATM COINS STYLING */
.atm-coin-machines {
  margin-left: 530px;
  margin-top: -200px;
  position: absolute;
}

.atm-coins-queue {
  position: absolute;
  margin-left: 550px;
  margin-top: -120px;
}
/* END OF ATM COINS STYLING */

/* START OF ATM MACHINES STYLING */
.atm-machines-batch02 {
  margin-left: 650px;
  margin-top: -200px;
  position: absolute;
}

.atm-machines-batch02-item {
  display: inline-block;
  margin-left: 5px;
}

.atm-machines-batch02-waiting-area {
  width: 190px;
  height: 120px;
  margin-left: 660px;
  margin-top: -130px;
  position: absolute;
}

.atm-machines-batch02-waiting-area-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.atm-machines-batch01 {
  /* float: right; */
  margin-top: 80px;
  margin-left: 720px;
  position: absolute;
}

.atm-machines-batch01-item {
  display: inline-block;
  margin-right: 10px;
}

.atm-machines-batch01-waiting-area {
  width: 190px;
  height: 230px;
  margin-left: 730px;
  margin-top: 150px;
  position: absolute;
}

.atm-machines-batch01-waiting-area-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
/* END OF ATM MACHINES STYLING */

/* START OF VTM MACHINES STYLING */
.vtm-machines {
  float: right;
  margin-top: -200px;
  margin-left: 950px;
  position: absolute;
}

.vtm-machine-item {
  margin-top: 5px;
  height: 80px;
}

.vtm-machines-queue {
  position: absolute;
  height: 50px;
  width: 360px;
  margin-left: 580px;
  margin-top: 10px;
}

.customer-waiting-vtms {
  z-index: 2;
  display: inline-block;
}
/* END OF VTM MACHINES STYLING */

/* START OF MAIN QUEUE STYLING */
.main-queue {
  width: 60px;
  height: 600px;
  border: 1px solid #000;
  background-color: rgb(255, 255, 255);
  margin-left: 410px;
  margin-top: 300px;
  position: absolute;
}

.queue-manager {
  position: absolute;
  margin-left: 480px;
  margin-top: 350px;
}

.colleague-speaking {
  display: flex;
}
/* END OF MAIN QUEUE STYLING */

/* START OF RETURNING LATER QN INDICATOR SECTION STYLING */
.return-later-section {
  width: 320px;
  height: 180px;
  border: 1px solid #000;
  background-color: rgb(158, 158, 158);
  margin-left: 700px;
  margin-top: 400px;
  position: absolute;
}
/* END OF RETURNING LATER QN INDICATOR SECTION STYLING */

/* START OF DIGITAL QUEUE INDICATOR SECTION STYLING */
.digital-waiting-area {
  width: 320px;
  height: 180px;
  border: 1px solid #000;
  background-color: rgb(158, 158, 158);
  margin-left: 700px;
  margin-top: 600px;
  position: absolute;
}
/* END OF DIGITAL QUEUE INDICATOR SECTION STYLING */

/* START OF CUSTOMER LEGEND STYLING */
.customer-legend {
  position: absolute;
  margin-top: 520px;
  margin-left: -100px;
}

.customer-item {
  display: inline-block;
  margin-right: 10px;
}

.customer-legend p {
  font-size: 20px;
}

.customer-legend .customer-item span {
  margin-left: 8px;
}
/* END OF CUSTOMER LEGEND STYLING */

/* START OF SIMULATION DATE TIME STYLING */
.simulation-date-time {
  position: absolute;
  margin-top: 350px;
  margin-left: -100px;
  text-align: left;
}

.simulation-date-time p {
  font-size: 20px;
}
/* END OF SIMULATION DATE TIME STYLING */
